<div>
    <h1>Список пользователей</h1>
    <ul id="userlist">
        <li>
            <div onClick="this.parentNode.style.height = '300px'; this.parentNode.style.color = 'red';"><p>
                Тел.: 5555555
            </p>
            <p>
                <strong>Тестовый пользователь</strong>
            </p>
            <p>
                <strong>Данные пользователя</strong>
            </p>
        </li>
    </ul>
    <h1>Список водителей</h1>
    <ul id="driverlist">
        <li>
            <div onClick="this.parentNode.style.height = '300px'; this.parentNode.style.color = 'red';"><p>
                Тел.: 7777777
            </p>
            <p>
                <strong>Тестовый водитель</strong>
            </p>
            <p>
                <strong>Данные водителя</strong>
            </p>
        </li>
    </ul>
</div>