<div>
    <h1>Настройка городов</h1>
    <ul>
    {{#each cities}}
    <li class="use-{{use}} use-switcher">
        <label onClick="openProps( this );" style="margin-bottom: 4px;">
            <input{{#if use}} checked="checked"{{/if}} onChange="switchCity( this, `{{key}}` );" class="checkbox" type="checkbox" name="checkbox-test">
            <span class="checkbox-custom"></span>
            <span class="label">{{name}}</span>
        </label>
        <i onClick="openProps( this );" class="material-icons openbtn">more_vert</i>
        <ul class="propmenu">
            <li>
                <span onClick="openPropsSub( this );"><i class="material-icons arrowprop">arrow_right</i>Баннеры</span>
                <ul class="propmenusub">
                    <li>
                        <label style="margin-bottom: 4px;">
                            <input{{#if use}} checked="checked"{{/if}} onChange="switchCity( this, `{{key}}` );" class="checkbox" type="checkbox" name="checkbox-test">
                            <span class="checkbox-custom"></span>
                            <span class="label">{{name}}</span>
                        </label>
                    </li>
                </ul>
            </li>
            <li>
                <i class="material-icons">arrow_right</i>Баннеры
            </li>
            <li>
                <i class="material-icons">arrow_right</i>Баннеры
            </li>
        </ul>
    </li>
    {{/each}}
    </ul>
</div>