<div>
    {{#if (math role '==' 'root')}}
    <h1>Настройки БД</h1>
    <form action="/settings/db/update/" method="POST">
        <p>
            <label>Хост</label><input type="text" value="{{db/host}}" name="host" />
        </p>
        <p>
            <label>Порт</label><input type="text" value="{{db/port}}" name="port" />
        </p>
        <p>
            <label>База</label><input type="text" value="{{db/database}}" name="database" />
        </p>
        <p>
            <label>Логин</label><input type="text" value="{{db/user}}" name="user" />
        </p>
        <p>
            <label>Пароль</label><input type="password" value="{{db/password}}" name="password" />
        </p>
        <p>
            <input type="submit" class="subm" value="Сохранить" />
        </p>
    </form>
    {{/if}}
    {{#if dbWorked}}
    <h1>Пользователи</h1>
    <form action="/settings/users/" method="POST">
        <table>
            <tr>
                <td><label>Имя</label></td>
                <td><label>Логин</label></td>
                <td><label>Пароль</label></td>
                <td><label>Роль</label></td>
                <td></td>
            </tr>
            {{#each users}}
            <tr>
                <td><input type="text" value="{{name}}" name="{{_id}}:name" /></td>
                <td><input type="text" style="width: 150px;" value="{{login}}" name="{{_id}}:login" /></td>
                <td><input type="password" style="width: 150px;" value="" name="{{_id}}:password" /></td>
                <td>{{{getRoleSelect _id role}}}</td>
                <td style="position: relative;"><i onClick="delUser( this, `{{_id}}` );" class="material-icons redbtn">clear</i></td>
            </tr>
            {{/each}}
            <tr>
                <td></td><td></td><td></td><td></td>
                <td style="position: relative;"><i onClick="addUser( this, `{{getUserTr}}` );" class="material-icons redbtn">add</i></td>
            </tr>
        </table>
        <p>
            <input type="submit" class="subm" value="Сохранить" />
        </p>
    </form>
    <h1>Настройки приложения</h1>
    <form action="/settings/settings/" method="POST">
        <p>
            <label>Версия</label><input type="text" value="{{settings/version}}" name="version" />
        </p>
        <p>
            <label>Телефон</label><input type="text" value="{{settings/phone}}" name="phone" />
        </p>
        <p>
            <input type="submit" class="subm" value="Сохранить" />
        </p>
    </form>
    {{else}}
    <h1 style="color: red;">Ошибка связи с базой данных!</h1>
    {{/if}}
</div>