<div>
    <h1>Настройки</h1>
    <form action="/settings/db/update/" method="POST">
        <p>
            <label>Порт</label><input type="text" value="{{db/port}}" name="port" />
        </p>
        <p>
            <label>База</label><input type="text" value="{{db/database}}" name="database" />
        </p>
        <p>
            <label>Логин</label><input type="text" value="{{db/user}}" name="user" />
        </p>
        <p>
            <label>Пароль</label><input type="password" value="{{db/password}}" name="password" />
        </p>
        <p>
            <input type="submit" class="subm" value="Сохранить" />
        </p>
    </form>
    <h1>Пользователи</h1>
    <form action="/settings/users/update/" method="POST">
        <table>
            <tr>
                <td><label>Имя</label></td>
                <td><label>Логин</label></td>
                <td><label>Пароль</label></td>
                <td><label>Роль</label></td>
                <td></td>
            </tr>
            {{#each users}}
            <tr>
                <td><input type="text" value="{{name}}" name="name" /></td>
                <td><input type="text" value="{{login}}" name="login" /></td>
                <td><input type="password" value="" name="password" /></td>
                <td>{{{getRoleSelect role}}}</td>
                <td><img onClick="this.parentNode.parentNode.style.display = 'none';" class="del-tr" src="/img/red-cross.png" /></td>
            </tr>
            {{/each}}
            <tr>
                <td></td><td></td><td></td><td></td><td><img style="transform: rotate(45deg);" onClick="var tr = document.createElement('tr'); this.parentNode.parentNode.parentNode.insertBefore( tr, this.parentNode.parentNode ).innerHTML = '{{getTr}}';" class="add-tr" src="/img/red-cross.png" /></td>
            </tr>
        </table>
        <p>
            <input type="submit" class="subm" value="Сохранить" />
        </p>
    </form>
</div>