<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Новая Голландия, панель администратора</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="/js/admin.js"></script>
    </head>
    <body>
        <div id="abs-wrapper">
            {{{body}}}
        </div>
    </body>    
</html>