/* ALL */

@font-face {
    font-family: FuturaBookC;
    src: url(../fonts/futurabookc.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: FuturaBookC;
    font-size: 28px;
}

#abs-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #eeeeee;
}

/* LOGIN */

#auth {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    /* ! */
    margin-top: 189px;
}

#logo {}

#auth form {
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    border: 2px #444444 solid;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 97px;
}

#auth form label {
    float: left;
    width: 200px;
    text-align: left;
}

#auth form input {
    border: 2px #444444 solid;
    font-size: 28px;
}

#authsubm {
    line-height: 30px;
    color: #ff0010;
    border: 2px #ff0010 solid;
    border-radius: 10px;
}