/* ALL */

@font-face {
    font-family: FuturaBookC;
    src: url(../fonts/futurabookc.otf);
}

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: FuturaBookC !important;
    font-size: 26px;
    color: #272727;
    background: #eeeeee;
}

#abs-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.redbtn {
    color: #ff0010;
    font-size: 50px;
    line-height: 60px;
    cursor: pointer;
}

/* LOGIN */

#auth {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
    /* ! */
    margin-top: 89px;
}

#logo {}

#auth form {
    margin: 0 auto;
    width: 600px;
    border-radius: 10px;
    border: 2px #444444 solid;
    background: #ffffff;
    padding: 38px 71px;
    box-sizing: border-box;
    margin-top: 97px;
}

p {
    margin: 16px 0;
}

label {
    float: left;
    width: 150px;
    text-align: left;
}

input, select, #userlist li, #driverlist li, div[contenteditable] {
    border: 2px #444444 solid;
    font-size: 24px;
    line-height: 32px;
    /* ! */
    max-width: 300px;
    padding: 1px 5px;
    box-sizing: border-box;
    background: transparent;
}

select {
    height: 36px;
}

.subm {
    line-height: 30px !important;
    font-size: 26px !important;
    color: #ff0010;
    border: 2px #ff0010 solid !important;
    border-radius: 10px;
    background: none;
    padding: 8px 40px !important;
    cursor: pointer;
    margin-top: 37px;
    /*transition: all 0.5s ease-in-out;*/
}

.subm:hover {
    background: #ff0010;
    color: #ffffff;
    /*transition: all 0.5s ease-in-out;*/
}

#authsubm {
    padding: 8px 60px !important;
}

/* MENU */

#menu {
    height: 100%;
    width: 308px;
    margin: 0;
    padding: 0;
    background: #444444;
    float: left;
    position: fixed;
}

#logo-invert {
    margin: 15px 0 0 17px;
}

#ul-menu {
    padding: 0;
    margin: 53px 0 0 0;
    list-style: none;
}

#ul-menu li {
    line-height: 56px;
    color: #ffffff;
    cursor: pointer;
}

#ul-menu li.actived {
    background: #aaaaaa;
    color: #ff0010;
    border-right: solid #ff0010 3px;
}

#ul-menu li a {
    color: #ffffff;
    padding-left: 52px;
    display: block;
    text-decoration: none;
}

#ul-menu li.actived a {
    color: #ff0010;
    text-decoration: none;
}

.exitmenu {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
}

.exitmenu .material-icons {
    color: #ffffff;
    font-size: 60px;
}

.exitmenu .material-icons-abs {
    color: #ff0010;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* PAGE */

#page-wrapper {
    width: calc( 100% - 375px );
    height: 100%;
    margin: 0;
    padding: 0 0 0 375px;
}

h1 {
    margin: 45px 0;
    font-size: 36px;
    font-weight: normal;
}

.add-tr, .del-tr {
    cursor: pointer;
}

.del-tr {
    width: 30px;
}

.add-tr {
    width: 28px;
}

#userlist li, #driverlist li {
    height: 40px;
    overflow: hidden;
    color: green;
    position: relative;
    list-style: inside;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#userlist li > div, #driverlist li > div {
    color: #272727;
    position: absolute;
    top: 0;
    left: 30px;
}

#userlist li [contenteditable], #driverlist li [contenteditable] {
    height: 200px;
}

.enterfield {
    height: 40px !important;
}

#userlist li p, #driverlist li p {
    margin: 2px 0 !important;
}

.use-true {
    color: green;
}

.use-false {
    color: red;
}

.use-switcher {
    cursor: pointer;
}

.use-switcher span {
    color: #272727;
}